dist
build
target
*/.settings/com.springsource.server.ide.jdt.core.prefs
/tests/
/coverage/
/cobertura.ser
*/ebay.log
MANIFEST.MF
!/tools/**/*.jar
!/tools/jsdoc-toolkit-2.4.0/java/classes/js.jar
*.zip
*.bak
*/target/*
*/temp_persist_config_*.xml
*/src/main/resources/buildinfo.properties
/.idea/
/node_modules/**
/npm-debug.log
/node_modules
/raptorjs.sublime-workspace
