.errors {
}

UL.errors {
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

UL.errors > LI > PRE {
    background-color: #FFFFCC;
    margin: 0;
    padding: 2px;
    margin-left: 20px;
    border: 0;
}


UL.errors LI {
    border-bottom: 1px solid #EEEEEE;
    color: #660000;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FFFFCC;
}

UL.errors .x {
    margin-left: 5px;
    float: left;
    color: #CC0000;
}