body{
	font-size: 14px;
	background: url(http://pics.ebaystatic.com/aw/cmp/ds3/imgBg_grey.png);
	font-family: "Helvetica neue", Helvetica, Arial, Verdana, Sans-serif;
	padding-top:50px;
}

h1.title{
	float:left;
}

a, a:link {
	color: #2F9FA7;
	text-decoration: none;
}
a:hover {
	color: #0F6780;
	text-decoration: underline;
}

.container-fluid > h1{
	margin-bottom: 20px;
}

.tmpl-inst{
	float:left;
	font-size:.9em;
	line-height: 40px;
	margin-left:30px;
}

div.sec-hdg{
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
	margin-bottom: 10px;
}

aside.left-nav ul{
	list-style: none;
	margin: 20px 0;
	margin: 0;
	padding: 0;
}

aside.left-nav ul li{
	margin: 5px 0;
}

ul li.active{
	background-color: #62c462;
	color: #fff;
	padding: 5px;
}

ul li.active a, ul li.active a:hover{
	color:#fff;
	text-decoration: none;
}

.edit-box{
	padding: 5px;
	width: 90%;
	height: 300px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	font-size:.9em;
	background-color:#fafafa;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow-y:auto;
	overflow-x: hidden;
}

.edit-box:hover{
	border-color: #999;
}

.edit-box:focus, .edit-box:focused{
	border-color: #666;
}

