<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    name="components/nav/NavBar"
    params="rootAttrs,tag,brand">
    
    <div c:attrs="rootAttrs">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" c:if="brand">$brand</a>
                <c:invoke function="tag.invokeBody()"/>
            </div>
        </div>
    </div>
    
</c:template>