<c:template 
    name="taglibs/test/Button" 
    xmlns:c="http://raptorjs.org/templates/core"
    xmlns:w="widgets"
    params="widget,buttonAttrs,label">
    
    <button w:widget="taglibs.test.ButtonWidget" c:attrs="buttonAttrs">
        ${label}
    </button>
    
</c:template>