<c:template 
    xmlns:c="core" 
    params="name,colors">
    
    Hello $name!

    <c:choose>
        <ul c:when="notEmpty(colors)">
            <li c:for="color in colors">
                $color
            </li>
        </ul>
        <div c:otherwise="">
            No colors!
        </div>
    </c:choose>
    
</c:template>