<c:template 
    xmlns:c="core"
    xmlns:test="test" 
    params="showConditionalTab">
    
    <test:button label="My Button" disabled="true" color="yellow"/>
    
    <test:greeting name="Frank"/>
    
    <test:tabs>
        <test:tab title="Tab 1">
            Tab 1 content
        </test:tab>
        
        <test:tab title="Tab 2">
            Tab 2 content
        </test:tab>
    </test:tabs>
    
</c:template>