<c:template 
    xmlns:c="core" 
    params="name,count">

    <p>Hello $name! You have $count new messages.</p>
    
    <p>Hello ${name.toUpperCase()}! You have $count new messages.</p>
</c:template>