#navTree LI.active > A {
    background-color: #50A8DC;
}

#navTree LI.object > A > INS {
    background-image: url("object.png");
    background-position: 0 0;
}

#navTree LI.package > A > INS {
    background-image: url("package.png");
    background-position: 0 0;
}

#navTree LI.raptor-module > A > INS, #navTree LI.module > A > INS {
    background-image: url("module.png");
    background-position: 0 0;
}

#navTree LI.raptor-class > A > INS, #navTree LI.class > A > INS {
    background-image: url("class.gif");
    background-position: 0 0;
}

#navTree LI.raptor-mixin > A > INS, #navTree LI.mixin > A > INS {
    background-image: url("mixin.png");
    background-position: 0 0;
}

#navTree LI.global > A > INS {
    background-image: url("global.png");
    background-position: 0 0;
}

#navTree LI > UL > LI.extension > A > INS {
    background-image: url("extension.png") !important;
    background-position: 0 0;
}

#search-form > .body > INPUT {
    width: 90%;
}

/* Autocomplete formatting */
.ac-icon {
    display: block;
    float: left;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
.ac-icon-module, .ac-icon-raptor-module {
    background-image: url("module.png");
}
.ac-icon-class, .ac-icon-raptor-class {
    background-image: url("class.gif");
}
.ac-icon-extension {
    background-image: url("extension.png");
}
.ac-icon-mixin {
    background-image: url("mixin.png");
}
.ac-icon-function {
    background-image: url("function.png");
}

.ac-icon-property {
    background-image: url("property.png");
}

.ac-icon-object {
    background-image: url("object.png");
}
