<c:template xmlns:c="core"
    xmlns:w="widgets"
    params="navContent">
    
    <div w:widget="components.jsdoc.Nav.NavWidget" class="nav jstree-classic" style="visibility: hidden;">
        <div id="navTree" class="jstree-no-dots">
            ${xml:navContent}
        </div>
    </div>
    
</c:template>