#navTree LI.active > A {
    background-color: #50A8DC;
}

#navTree LI.object > A > INS {
    background-image: url("object.png");
    background-position: 0 0;
}

#navTree LI.package > A > INS {
    background-image: url("package.png");
    background-position: 0 0;
}

#navTree LI.raptor-module > A > INS, #navTree LI.module > A > INS {
    background-image: url("module.png");
    background-position: 0 0;
}

#navTree LI.raptor-class > A > INS, #navTree LI.class > A > INS {
    background-image: url("class.gif");
    background-position: 0 0;
}

#navTree LI.raptor-mixin > A > INS, #navTree LI.mixin > A > INS {
    background-image: url("mixin.png");
    background-position: 0 0;
}

#navTree LI.global > A > INS {
    background-image: url("global.png");
    background-position: 0 0;
}

#navTree LI > UL > LI.extension > A > INS {
    background-image: url("extension.png") !important;
    background-position: 0 0;
}