<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core"
    xmlns:test="test" 
    name="test"
    params="name,count,rootClass,colors,message,buttonAttrs">
    
    
    <c:def function="greeting(name)">
        Hello ${name}
    </c:def>
    
    ${greeting('John')}
    ${greeting('Frank')}
    
    <img src="logo.jpg"/>
    
    <pre>
    This whitespace
    will be
    preserved
    </pre>
</c:template>