<c:template 
    xmlns:c="http://ebay.com/raptor/core" 
    name="test"
    params="name,count,rootClass,colors,message,buttonAttrs">
    
    <html>
    
        <head>
            <title>Templating Demo</title>
        </head>
        <body>
            Hello $name! You have $count new messages!
        </body>
    </html>
</c:template>