<c:template
    name="pages/test"
    xmlns:c="core"
    xmlns:widgets-test="widgets/test">
    
    <html>
        <head>
            <title>Test Page</title>
        </head>
        <body>
            Hello World!
            
            <widgets-test:Button label="Click Me" id="myWidget"/>
        </body>
    </html>
    
</c:template>