#nav {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    overflow-y: auto;
    background-color: #EEE;
    border-right: 1px solid silver;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 15px;
}

#main {
    margin-left: 320px;
}