<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core" 
    name="attrs"
    params="myAttrs">
    
    
    <div c:attrs="myAttrs" data-encoding="&quot;hello&quot;">
        Hello World!
    </div>
</c:template>