<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core" 
    name="choose-when-invalid">
    
    <c:choose>
        <c:when test="true">A</c:when>
        <c:otherwise>INVALID</c:otherwise>
        <c:when test="true">B</c:when>
    </c:choose>
    
</c:template>