<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core" 
    name="choose-when-invalid">
    
    <c:choose>
        
        <c:when test="false">A</c:when>
        INVALID TEXT
        <c:when test="true">TRUE</c:when>
        <c:otherwise>C</c:otherwise>
    </c:choose>
    
</c:template>