<c:template 
    xmlns:c="http://ebay.com/raptor/core" 
    name="content"
    params="">
    
    <div c:content="'Hello'"><b>This content will be replaced with the text "Hello"</b></div>
    
</c:template>