<c:template
    xmlns:c="core"
    xmlns:test="test"
    name="helper-functions"
    test:helpers="upperCase,trim">
    
    Hello ${upperCase("world")}!
    Hello ${trim("   World   ")}!
    
</c:template>