<c:template
    xmlns:c="core"
    xmlns:test="test"
    name="helper-functions-shortname"
    test:functions="upperCase,trim">
    
    Hello ${upperCase("world")}!
    Hello ${trim("   World   ")}!
    
</c:template>