<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core"
    xmlns:t="http://raptor.ebayopensource.org/test" 
    name="html">
    
    <img src="test.jpg"/>
    <div class="self-closing-not-allowed" />
    <script src="test.js"/>
    <br/>

</c:template>