<c:template 
    xmlns:c="http://ebay.com/raptor/core" 
    name="scriptlet"
    params="">
    
    
    {% if (true) { %}
        HELLO
    {% } %},
    {% if (false) { %}
        WORLD
    {% } %}
    
</c:template>