<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core"
    xmlns:test="http://ebay.com/raptor/test" 
    xmlns:w="http://raptor.ebayopensource.org/widgets" 
    name="widgets">
    
    <test:button label="Submit" type="submit" w:id="myButton"/>
    
</c:template>