<c:template
    name="pages/test"
    xmlns:c="core"
    xmlns:w="widgets"
    xmlns:widgets-test="widgets-test">
    
    <html>
        <head>
            <title>Test Page</title>
        </head>
        <body>
        
            Hello World!
            <div w:widget="pages.widgets.PageWidget">

                <button w:widget="components/widgets/ButtonWidget" w:id="buttonAssignedId">
                    buttonAssignedId
                </button>

                <button>
                    <w:widget js-class="components/widgets/ButtonWidget" id="buttonAssignedId2">
                        <button id="${widget.elId()}">
                            buttonAssignedId2
                        </button>                        
                    </w:widget>
                </button>

                <widgets-test:button label="Button 1" id="myButton" w:id="button1"/>
                <widgets-test:button>Button 2</widgets-test:button>
                
                <widgets-test:button label="Button 2" id="rerenderButton" w:id="rerenderButton"/>

                <div id="${widget.elId('myDiv')}" class="myDiv">
                    My Div
                    <span class="mySpan">
                        My Span
                    </span>
                </div>
            </div>
            
            <script>
            window.initWidgets = function() {
            <w:init-widgets include-script-tag="false"/>
            }
            </script>
        </body>
    </html>
    
</c:template>