<c:template name="components/Errors"
    xmlns:w="widgets"
    xmlns:shared="shared"
    xmlns:c="core">
    
    
    <div class="errors" w:widget="components.Errors.ErrorsWidget">
        <ul class="errors" id="${widget.elId('ul')}" style="display: none;"></ul>
    </div>
</c:template>