<c:template
    xmlns:c="core"
    xmlns:w="widgets"
    name="components/nav/TabContent"
    params="tag">
    
    <div class="tab-content">
        <c:invoke function="tag.invokeBody()"/>
    </div>
    
</c:template>