<c:template xmlns:c="core"
    xmlns:w="widgets"
    name="ui/buttons/SimpleButton"
    params="label">
    
    <button type="button" 
        class="simple-button" 
        w:widget="ui/buttons/SimpleButton/SimpleButtonWidget">

        $label
        
    </button>

</c:template>