<c:template 
    name="taglibs/test/Container" 
    xmlns:c="http://raptorjs.org/templates/core"
    params="widget,title">

    <div>
        <h1>$title</h1>
        <div class="bd">
            <c:invoke function="data.invokeBody()"/>
        </div>
    </div>
</c:template>