<c:template 
    xmlns:c="http://raptorjs.org/templates/core"
    params="">
    ${entity:lt}DIV${entity:gt}
    ${startTag:div}Hello${endTag:div}
    <div data-entities="&lt; ${entity:lt} &#10;
Line2"></div>
</c:template>