<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core"
    params="">
    ${entity:lt}DIV${entity:gt}
    ${startTag:div}Hello${endTag:div}
    <div data-entities="${entity:lt}"></div>
</c:template>