<c:template
    xmlns:c="core"
    xmlns:test="http://raptor.ebayopensource.org/test"
    test:functions="upperCase,trim">
    
    Hello ${upperCase("world")}!
    Hello ${trim("   World   ")}!
    
</c:template>