<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core" 
    params="">
 
    BEGIN
    <c:include resource="/test-templates/include-resource-target.txt" static="true"/>
    END
</c:template>