<c:template
    xmlns:c="core"
    xmlns:optimizer="optimizer">
    
    <optimizer:page name="test">
        <includes>
            <module name="test.optimizer.moduleA"/>
            <module name="test.optimizer.moduleB"/>
        </includes>
    </optimizer:page>
    
    <html>
        <head>
            <optimizer:slot name="head"/>
        </head>
        <body>
            <optimizer:slot name="body"/>
        </body>
    </html>
</c:template>