<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core" 
    params="">
    
    
    {% if (true) { %}
        HELLO
    {% } %},
    {% if (false) { %}
        WORLD
    {% } %}
    
</c:template>