<c:template 
    xmlns:c="http://raptor.ebayopensource.org/core"
    xmlns:test="http://raptor.ebayopensource.org/test" 
    xmlns:w="http://raptor.ebayopensource.org/widgets">
    
    <w:widget jsClass="widgets_nested">
        <div>
            <test:button label="Nested Submit" type="submit" disabled="true" w:id="nestedSubmitButton"/>
            <test:button label="Nested Cancel" w:id="nestedCancelButton"/>
        </div>
    </w:widget>
    
</c:template>