<c:template 
    xmlns:c="http://raptorjs.org/templates/core"
    xmlns:test="http://raptorjs.org/templates/test" 
    xmlns:w="http://raptorjs.org/templates/widgets">
    
    <w:widget jsClass="widgets_nested">
        <div>
            <test:button label="Nested Submit" type="submit" disabled="true" w:id="nestedSubmitButton"/>
            <test:button label="Nested Cancel" w:id="nestedCancelButton"/>
        </div>
    </w:widget>
    
</c:template>