<c:template name="components/component-renderer/Component1" xmlns:c="core" xmlns:w="widgets">
    <div id="$data.id" w:widget="components/component-renderer/Component1/Component1Widget">
        $data.id
    </div>
</c:template>