<c:template 
    name="test/Button" 
    xmlns:c="http://raptorjs.org/templates/core"
    params="id,label,buttonAttrs">
    
    <button c:attrs="buttonAttrs">
        ${label}
    </button>
    
</c:template>