.template-testbed H1 {
    font-size: 32px;
    margin-right: 14px;
}

.template-testbed {
    margin-left: 8px;
    margin-right: 8px;
}

.template-testbed .header-bar {
    vertical-align: bottom;
}


.template-testbed H3.first {
    margin-top: 0px;
}

.template-testbed H3 {
    margin-top: 15px;
}

#samples-nav {
    width: 160px;
    float: left;
}

#samples-nav > .content {
    margin-left: 10px;
    margin-top: 10px;
}

#editors {
    margin-left: 170px;
}


.template-testbed .input-col {
    width: 50%;
    float: left;
}


.template-testbed .output-col {
    width: 50%;
    float: left;
}

.template-testbed .input-col > DIV.content{
    margin-left: 10px;
    margin-right: 8px;
}

.template-testbed .output-col > DIV.content{
    margin-left: 8px;
    margin-right: 10px;
}

.template-testbed .html-viewer {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 3px;
}

.template-testbed TD.option-buttons {
    padding-left: 10px;
}

.template-testbed .footer-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #CCCCCC;
    width: 100%;
    height: 40px;
    z-index: 1000;
    padding-left: 8px;
}

.template-testbed .footer-bar > TABLE {
    height: 40px;
    float: left;
}

.template-testbed .footer-bar TD.render-button, .template-testbed .footer-bar TD.option-buttons {
    vertical-align: middle;
}

.template-testbed .editor-view {
    position: fixed;
    left: 0px;
    top: 50px;
    bottom: 40px;
    width: 100%;
    overflow-y: auto;
}

.template-editor-container {
    max-height: 400px;
    overflow-y: auto;
}

.compiler-options-hidden {
    top: 0px;
    left: 0px;
    position: absolute;
    visibility: hidden;
}

.powered-by {
    float: right;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 16px;
}

.powered-by > .raptorjs {
    font-weight: bold;
}