<ul class="classList">
    <for each="thisClass" in="data">
    <li id="{+thisClass.navId+}" class="{+ thisClass.symbolStyleClass +}">{+ thisClass.getTreeLink() +}
    
        <if test="thisClass.childClasses">
           {+classesTree(thisClass.childClasses)+}
        </if>   
    
    </li>
    </for>
</ul>