<div id="index">
    <div class="body">
        
        <h2>Modules and Classes</h2>
        <div id="search-form">
            <div class="body">
                <input type="text" value="Search API docs" size="20" id="searchInput"/>
            </div>
        </div>
        
        <div id="classListNavContainer" style="display: none;">
            <div id="classListNav">
                {+classesTree(data)+}
            </div>
            <div style="clear: both;"></div>
            
            <div class="footer">
                <div align="center" id="classList">
                    {+new Link().toFile("index.html").withText("Module and Class Index")+}
                    | 
                    {+new Link().toFile("files.html").withText("File Index")+}
                </div>
            </div>
        </div>
    </div>
</div>
