var autocompleteSymbols = [
<for each="symbol" in="data">
    {
        text: {+ JSON.stringify(symbol.autocompleteText) +},
        alias: {+ JSON.stringify(symbol.alias) +},
        displayName: {+ JSON.stringify(symbol.displayName) +},
        type: "{+ symbolType(symbol) +}",
        url: "{+ new Link().toSymbol(symbol.alias).getSymbolHref() +}"
    }<if test="!$symbol_last">,</if>
</for>
]