<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

{!
    var thisClass = publish.getClassInfo(data);
!}
                
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
        <meta name="generator" content="JsDoc Toolkit" />
        {! Link.base = "../"; /* all generated links will be relative to this */ !}
        <title>{+ thisClass.displayName +} | RaptorJS API</title>

        {+publish.headIncludes+}
        
        <script type="text/javascript">
        window.alias = "{+thisClass.alias+}";
        window.parentAlias = "{+ thisClass.parentAlias +}";
        window.classNavId = "{+ thisClass.navId +}";
        window.parentNavId = {+ thisClass.parentClass ? '"' + thisClass.parentClass.navId + '"' : "null" +};
        window.classHasChildren = {+ thisClass.childClasses.length != 0 +};
        </script>

        
        <style type="text/css">
        #{+ thisClass.navId +} > a {
            background-color: #BECEF7;
        }
        </style>
    </head>

    <body>
<!-- ============================== header ================================= -->    
        <!-- begin static/header.html -->
        {+publish.header+}
        <!-- end static/header.html -->

<!-- ============================== classes index ============================ -->
        
        <!-- begin publish.classesIndex -->
        {+publish.classesIndex+}
        <!-- end publish.classesIndex -->
        
        <div id="content">
            <h1 class="class-title">
                {+ thisClass.pageTitle +}
                <if test="thisClass.definedInLink">
                    <span class="defined-in">
                        Defined in: {+ thisClass.definedInLink +}
                    </span>
                </if>
            </h1>
            
            <if test="thisClass.modifiers.length">
                {+ publish.modifiersHTML(thisClass) +}
                <div style="clear: both; margin-bottom: 10px"></div>
            </if>
            
            <if test="thisClass.hasDesc">
                <div class="description">
                    {+ thisClass.desc() +}
                </div>
            </if>
            
            <div class="details">
                
                
                <if test="thisClass.isDeprecated">
                    <h3>Deprecated</h3>
                    <div class="bd">
                        {+ thisClass.deprecatedReason() +}
                    </div>
                </if>
            </div>
            
            <if test="thisClass.manifest">
                <br/>
                {+ publish.manifestHTML(thisClass.manifest) +}
            </if>
        
            <div class="options">
                    <button class="expand-all" type="button" id="expandAll">
                        <div class="expand-collapse-icon"></div>
                        Expand all
                    </button>
                    &nbsp;&nbsp;
                    <button class="collapse-all" type="button" id="collapseAll">
                        <div class="expand-collapse-icon expanded"></div>
                        Collapse all
                    </button>
                    <if test="thisClass.hasPrivate">
                        &nbsp;&nbsp;
                        <input type="checkbox" id="showPrivate"> <label for="showPrivate">Show private members</label>
                    </if>
                    <if test="thisClass.hasProtected">
                        &nbsp;&nbsp;
                        <input type="checkbox" id="showProtected"> <label for="showProtected">Show protected members</label>
                    </if>
            </div>
            
            <if test="thisClass.ctor">
                <div class="section constructor<if test="thisClass.isPrivate"> private</if>">
                    <h2>Constructor</h2>
                    {+ publish.methodHTML(thisClass.ctor) +}
                </div>
            </if>
                        
            <!-- ============================== PROPERTIES ============================ -->
            <if test="thisClass.properties.length">
                <div class="section">
                    <h2>Properties</h2>
                    <div class="members">
                        
                        <for each="property" in="thisClass.properties">
                            <a name="{+ property.linkName+}"></a>
                            <div class="property member">
                                <h2>{+ property.name +}
                                    <if test="property.hasType">
                                    :
                                    <span class="property-type">{+ property.typeHtml() +}</span>
                                    </if>
                                </h2>
                                
                                <if test="property.hasDescSummary">
                                    <div class="desc">
                                        {+ property.descSummary() +}
                                    </div>
                                </if>
                                
                                <!-- PROPERTY DETAILS -->
                                <div class="more" style="display: none" id="moreTarget_{+property.elId+}">
                                    <if test="property.hasDescRemaining">
                                    {+ property.descRemaining() +}
                                    </if>
                                    
                                    <div class="details">
                                        
                                        <if test="property.isDeprecated">
                                            <h3>Deprecated</h3>
                                            <div class="bd">
                                                {+ property.deprecatedReason() +}
                                            </div>
                                        </if>
                                        
                                        <if test="property.seeList">
                                            <h3>See</h3>
                                            <div class="bd">
                                                <ul class="see">
                                                    <for each="see" in="property.seeList">
                                                        <li class="see">{+ see.html() +}</li>
                                                    </for>
                                                </ul>
                                            </div>
                                        </if>
                                    </div>
                                </div>
                                <div data-moreAlias="{+property.elId+}" id="moreLink_{+property.elId+}" class="expand-collapse-bar">
                                    <div class="expand-collapse-icon"></div>
                                </div>
                            </div>
                        </for>
                    </div>
                </div>
            </if>
            
            <!-- ============================== METHODS ============================ -->
            <if test="thisClass.methods.length">
                <div class="section">
                    <h2>Methods</h2>
                    <div class="members">
                        <for each="method" in="thisClass.methods">
                            {+ publish.methodHTML(method) +}
                        </for>
                    </div>
                </div>
            </if>
            
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                /*
                disqus_shortname tells Disqus which website account (called a forum on Disqus) this system belongs to.
                disqus_identifier tells Disqus how to uniquely identify the current page.
                disqus_url tells Disqus the location of the page for permalinking purposes.
                */
                
                var disqus_shortname = 'raptorjs'; // required: replace example with your forum shortname
                var disqus_identifier = "{+thisClass.alias+}"; // required: replace example with your forum shortname
                var disqus_developer = 1;
            
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            
        </div>
        
        
        
<!-- ============================== footer ================================= -->
        <div id="footer">
            <div class="fineprint" style="clear:both">
                <if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
                Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
            </div>
        </div>

        
        <script type="text/javascript" src="{+Link.base+}static/shjs/sh_main.min.js"></script>
        <script type="text/javascript" src="{+Link.base+}static/shjs/sh_javascript_dom.js"></script>
        <script type="text/javascript" src="{+Link.base+}static/shjs/sh_html.min.js"></script>
        
                
    </body>
</html>
