<link type="text/css" rel="stylesheet" href="{+Link.base+}static/default.css"/>
<link type="text/css" rel="stylesheet" href="{+Link.base+}static/jquery.autocomplete.css"/>
<link type="text/css" rel="stylesheet" href="{+Link.base+}static/jstree/themes/classic/style.css"/>
<link type="text/css" rel="stylesheet" href="{+Link.base+}static/shjs/sh_style.css"/>

<script type="text/javascript" src="{+Link.base+}static/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{+Link.base+}static/jquery.cookie.js"></script>
<script type="text/javascript" src="{+Link.base+}static/jquery.hotkeys.js"></script>
<script type="text/javascript" src="{+Link.base+}static/jstree/jstree.js"></script>

<script type="text/javascript" src="{+Link.base+}static/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{+Link.base+}autocompleteSymbols.js"></script>


<script type="text/javascript">
    window.symbolsBase = "{+ Link.base +}";

    $(function () {
        $.jstree._themes = "{+Link.base+}static/jstree/themes/"
    });
</script>

<script type="text/javascript" src="{+Link.base+}static/RaptorDocs.js"></script>