<div id="header">
    <div class="body">
        <h1>
            <span class="title">RaptorJS API Docs</span> <span class="version">{+publish.RaptorJSVersion+}</span>
        </h1>
    </div>
</div>

