{!
    var manifest = data.object;
    var json = data.json;
!}

<if test="manifest">
    <a id="viewManifestLink" href="#Toggle Module Manifest">Show Module Manifest</a>
            
    <div class="manifest" id="manifestDiv" style="display: none;">
        
        <h2>Module Details</h2>
        <div class="bd">
            
            <if test="manifest.description">
                <h3>Description</h3>
                <div class="section-body">
                    {+manifest.description+}
                </div>
            </if>
            <if test="manifest.version">
                <h3>Version</h3>
                <div class="section-body">
                    {+manifest.version+}
                </div>
            </if>
            <if test="manifest.homepage">
                <h3>Homepage</h3>
                <div class="section-body">
                    <a href="{+manifest.homepage+}">{+manifest.homepage+}</a>
                </div>
            </if>
            <if test="manifest.authors">
                <h3>Authors</h3>
                <div class="section-body">
                    <ul>
                        <for each="author" in="manifest.authors">
                        <li>
                            {+author.name+}
                            <if test="author.email">
                                (<a href="mailto:{+author.email+}">{+author.email+}</a>)
                            </if>
                        </li>
                        </for>
                    </ul>
                </div>
            </if>
            
            <if test="manifest.includes">
                <h3>Includes</h3>
                <div class="section-body">
                    <ul>
                        <for each="include" in="manifest.includes">
                        <li>
                            {+publish.manifestIncludeHTML(include)+}
                        </li>
                        </for>
                    </ul>
                </div>
            </if>
            
            <if test="manifest.extensions">
                <div class="extensions">
                    <h3>Extensions</h3>
                    <div class="section-body">
                        <for each="extension" in="publish.entries(manifest.extensions)">
                        <h4>{+extension.key+}</h4>
                        <div class="section-body">
                            <if test="extension.value.includes">
                            <div class="extension-body">
                                <h3>Includes</h3>
                                <ul>
                                    <for each="include" in="extension.value.includes">
                                    <li>
                                        {+publish.manifestIncludeHTML(include)+}
                                    </li>
                                    </for>
                                </ul>
                            </div>
                            </if>
                        </div>
                        </for>
                    </div>
                </div>
            </if>
            
            
            
            <a id="viewManifestSourceLink" href="#Toggle Source">Show package.json</a>
            <div id="manifestSourceDiv" style="display: none;">            
                <pre class="code sh_javascript_dom">{+ json +}</pre>    
            </div>
        </div>
    </div>
</if>
