{!
    var include = data;
!}

<if test="include.type == 'js'">
    JavaScript: {+include.path+}
<elseif test="include.type == 'css'"/>
    StyleSheet: {+include.path+}
<elseif test="include.type == 'module'"/>
    Module: {+include.name+}
</if>
