{! var method = data; !}
<a name="{+ method.linkName+}"></a>
<div class="method member{+ method.hasModifier('deprecated') ? ' deprecated' : '' +}{+ method.hasModifier('private') ? ' private' : '' +}{+ method.hasModifier('protected') ? ' protected' : '' +}">
    <h2><span class="name" data-moreAlias="{+method.elId+}">{+ method.name +}</span><span class="params">( <for each="param" in="method.params"><if test="param.hasType"><span class="param-type">{+ param.typeHtml() +}</span> </if>{+ param.name +}<if test="!$param_last">, </if></for> )</span>
    :
    <span class="return-type">{+ method.returnInfo.typeHtml() +}</span>
        {+ publish.modifiersHTML(method) +}
    </h2>
    
    
    
    <if test="method.hasDescSummary">
        <div class="desc">
            {+ method.descSummary() +}
        </div>
    </if>
    
    <div class="more" style="display: none" id="moreTarget_{+method.elId+}">
        <if test="method.hasDescRemaining">
        {+ method.descRemaining() +}
        </if>
        
        <div class="details">
            <if test="method.params.length">
                <h3>Parameters</h3>
                <div class="bd">
                    <ul class="params">
                        <for each="param" in="method.params">
                            <li class="param">
                                <span class="param-name">{+ param.name +}</span>
                                <if test="param.hasType">
                                    : <span class="param-type">{+ param.typeHtml() +}</span> 
                                </if>
                                <if test="param.hasDesc">
                                 - {+ param.desc() +}
                                </if>
                            </li>
                        </for>
                    </ul>
                </div>
            </if>
            
            <if test="!method.returnInfo.empty">
                <h3>Returns</h3>
                <div class="bd">
                    <span class="returnType">{+ method.returnInfo.typeHtml() +}</span>
                    <if test="method.returnInfo.hasDesc">
                     - {+ method.returnInfo.desc() +}
                    </if>
                </div>
            </if>
            
            <if test="method.isDeprecated">
                <h3>Deprecated</h3>
                <div class="bd">
                    {+ method.deprecatedReason() +}
                </div>
            </if>
            
            <if test="method.seeList">
                <h3>See</h3>
                <div class="bd">
                    <ul class="see">
                        <for each="see" in="method.seeList">
                            <li class="see">{+ see.html() +}</li>
                        </for>
                    </ul>
                </div>
            </if>
        </div>
    </div>
    <div data-moreAlias="{+method.elId+}" id="moreLink_{+method.elId+}" class="expand-collapse-bar">
        <div class="expand-collapse-icon"></div>
    </div>
</div>